/* footer */
footer {
    background-color: #464547;
    padding: 5% 0 50px 10%;
    text-align: left;
}

footer .footer-container {
    width: 25%;
}

footer p {
    color: rgba(255, 255, 255, .4);
}

footer .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

footer .logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer .logo img {
    margin-right: 10px;
}