/* learn more */

.learn-more {
    background: linear-gradient(rgba(140, 79, 42, .2), rgba(140, 79, 42, .3)), url("../assets/learn-more.png");
    background-repeat: no-repeat;
    background-position: 50%;
    width: auto;
    height: 650px;
    padding: 3em;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-more .container {
    text-align: center;
}

.learn-more .container h2 {
    color: #ffffff;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

.learn-more .container button {
    background-color: #55C2D8;
    color: #ffffff;
    padding: 5%;
    border-radius: 50%;
    font-size: 3.5em;
    border-color: transparent;
    margin-bottom: 0.5em;
}

.learn-more .container h3 {
    color: #ffffff;
    margin-bottom: 0.5em;
}