/* main */
.main {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    padding: 3em;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container {
    text-align: center;
}

.main .container h2 {
    color: #464547;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

.main .container h3 {
    color: #666666;
    margin-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.main .container p {
    margin-bottom: 1.5em;
}

.main .container button {
    background-color: #55C2D8;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    border-color: transparent;
}

.main .container .actions {
    margin-top: 0.5;
    text-align: center;
}